# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
.env/
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3
*.db

# OS-specific files
.DS_Store
Thumbs.db

# Ignore all files relate to model logging
src/stockgpt/logs/
src/stockgpt/wandb/
src/stockgpt/input.txt

# Ignore training data
data/model

# Ignore some setting files (uv, prefect ... etc)
uv.*
.prefectignore
prefect.yaml